<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span>VivaWorkers</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/researchreports">Research Reports</a></li>
          <li><a class="nav-link scrollto" href="/opinionpieces">Opinion Pieces</a></li>
          <li><a class="nav-link scrollto" href="/articlesworkshop">Articles and Workshop Papers</a></li>
          <li class="dropdown"><a href="/photographs"><span>Photographs</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/photographs#portfolio1">Education</a></li>
              <li><a href="/photographs#portfolio2">Namibian Trade Unions</a></li>
              <li><a href="/photographs#portfolio3">Ramatex Working Conditions and the Strike of 2006</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/login"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" id="loginBtn">
                    login
          </button></a></li>
          <li><a class="nav-link scrollto" onclick="logout()"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" id="logoutBtn" style="display: none;">
                    logout
          </button></a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <br>
  <script src="js/logout.js"></script>